* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

html{
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.notes{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}
.note{

  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  width: 30rem;
  display: flex;
  flex-direction: column;

}
.note-create-form{
  width: 100vw;
  height: 5vh;
  display: flex;
  gap: 2rem;
  align-items: center;
 background-color: rgb(110, 80, 80);
  padding: 3rem;
}
.note-create-form input,button{
   text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}
button{
  background-color: #1bbe1b;
}
button:active{
  scale: 0.98;
}
.delete{
  background-color: rgb(155, 34, 34);
  font-size: 1rem;
}
.editBtn{
  background-color: wheat;
  padding: 0.3rem 1rem;
  font-weight: 700;
}