main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container{
    min-width: 400px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input,button{
            border: none;
            outline: none;
            padding-inline: 1.5rem;
            padding-block: 1rem;
            border-radius: 1rem;
        }
        button{
            background-color: #bd0c23;
            cursor:pointer;
        }
    }

    .toggleAuthForm{
        color: #bd0c23;
        cursor: pointer;
        text-decoration: none;
    }
}